# Environments
.env
.venv
env/
venv/

#Byte-compiled
__pycache__/

# Data directories, model-weights and results
/carton_data
/checkpoints
/evaluation_results

# Point cloud files
*.pcd

# Log files
/.logs

# Custom files